@font-face {
  font-family: 'Neue Einstellung';
  src: url('./fonts/');
  src: url('./fonts/?#iefix') format('embedded-opentype'), url('./fonts/NeueEinstellung-Medium.woff2') format('woff2'), url('./fonts/NeueEinstellung-Medium.woff') format('woff'), url('./fonts/NeueEinstellung-Medium.ttf') format('truetype'), url('./fonts/NeueEinstellung-Medium.svg#NeueEinstellung-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Einstellung';
  src: url('./fonts/NeueEinstellung-Regular.eot');
  src: url('./fonts/NeueEinstellung-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/NeueEinstellung-Regular.woff2') format('woff2'), url('./fonts/NeueEinstellung-Regular.woff') format('woff'), url('./fonts/NeueEinstellung-Regular.ttf') format('truetype'), url('./fonts/NeueEinstellung-Regular.svg#NeueEinstellung-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Neue Einstellung', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 620px) {
  body {
    max-width: 600px;
    margin: 0 auto;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Neue Einstellung', "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

body {
  margin: 0 auto;
  font-family: 'Neue Einstellung', sans-serif;
  height: 100%;
  font-size: 16px;
  color: #444444;
  text-align: left;
  line-height: 1.5;
}

section#drawer-1 {
  background-color: #38a169;
}

/* =============== CHAT DEFINED ============== */

.messages-box {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 80px;
  overflow: none;
}

.messages-box .messages-scroll {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
  /* enable intertial scroll on mobile devices */
}

.messages-box .messages-scroll .header {
  margin: 20px;
}

.messages-box .messages-scroll .header h1 {
  font-size: 25px;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.messages-box .messages-scroll .messages {
  padding: 20px;
}

.messages-box .messages-scroll .messages .message {
  margin-top: 15px;
  border-top: 1px solid #EDEEF2;
  padding-top: 15px;
}

.messages-box .messages-scroll .messages .message .name {
  font-weight: bold;
  margin-bottom: 2px;
}

.messages-box .messages-scroll .messages .message.announcement .name {
  color: #ff5722;
}

.messages-box .messages-scroll .messages .message .timestamp {
  color: #95979C;
  font-weight: normal;
  margin-left: 5px;
  font-size: 12px;
}

.messages-box .messages-scroll .messages .message.announcement .emoji {
  height: 25px;
  margin-left: 5px;
  vertical-align: bottom;
}

.new-message-container {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 80px;
  border-top: 1px solid #EDEEF2;
  background-color: #FAFBFF;
  padding: 20px;
}

.new-message-container form {
  display: flex;
  flex-direction: row;
}

.new-message-container form input {
  flex: 1;
}

.new-message-container form button {
  margin-left: 10px;
}